*{
  font-family: 'Roboto', sans-serif;
}

.janela-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 10;
  animation: modalAnimado 0.5s;
}

.mostrarModal {
  display: none;
}

.modal {
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: white;
  padding: 4rem;
  padding-top: 7rem;
  max-width: 81.6rem;
  border-radius: 5px;
  position: relative;
}

.modal-conteudo {
  display: flex;
  flex-direction: column;
}

.fecharAba {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 6px;
  cursor: pointer;
  transition: all 300ms;
}

.fecharAba:hover {
background-color: #ccc;
}

.modal-items {
  display: flex;
  gap: 40px;
}

.descricao {
  width: 100%;
  height: 100%;
}

.descricao h2 {
  text-align: center;
  margin-bottom: 24px;
  font-size: clamp(20px, 24px, 26px);
  color: #3E4756;
}

.descricao_titulo ,
 .descricao_sinopse,
  .descricao_autor {
  width: 424px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.descricao h4 {
  margin-bottom: 8px;
  color: #3E4756;
  font-size: clamp(16px, 18px, 21px);
  font-weight: 500;
}

.descricao p {
  margin-bottom: 24px;
  color: #3E4756;
  font-size: clamp(16px, 18px, 21px);
  font-weight: 300;
}

.botoes {
  display: flex;
  gap: 40px;
  width: 100%;
}

button {
  height: 53px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ADB5BD;
  font-size: clamp(14px, 16px, 21px);
  font-weight: 600;
  background-color: var(--cor-branca);
  cursor: pointer;
}

.btn-emprestar {
  width: 272px;
  position: relative;
  padding-left: 10%;
  border: 1px solid #ADB5BD;
  background: #FFC501;
}

.icone_emprestar {
  position: absolute;
  top: 25%;
  left: 82px;
  width: 21px;
  height: 22px;
}

.icone_devolver {
  position: absolute;
  top: 25%;
  left: 82px;
  width: 21px;
  height: 22px;
}

.botoes-manipulacao{
  display: flex;
  width: 100%;
  gap: 24px;
  margin-right: 36px;
  margin-left: 36px;
}

.btn-devolver {
  width: 272px;
  position: relative;
  padding-left: 10%;
  border: 1px solid #ADB5BD;
  background-color: var(--cor-cinza-fraco);
}

.btn-editar {
  width: 90px;
  color:#167CE2;
  border: 1px solid #167CE2;
}

.btn-inativar {
  width: 101px;
  border: 1px solid #ED5E5E;
  color:  #ED5E5E;
}

.btn-ativar {
  width: 101px;
  border: 1px solid #49D749;
  color: #49D749;
}

.btn-historico {
  width: 133px;
  border: 1px solid #ADB5BD;
  color: #000000;
}

.botoes-modal {
  position: relative;
}

.botoes-modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  transition: all .5s;
}

.botoes-modal:hover::before {
  background: rgba(0, 0, 0, .2);
}

.modal_extra  {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_extra table {
  border-radius: 5px;
  background: #F4F4F4;
  background-color: var(--cor-cinza-fraco);
  margin: 0 auto;
}

.modal_extra span {
  font-size: calc(20px, 24px, 26px);
 }

.modal_extra th {
  background-color: transparent;
  color: #3E4756;
  font-size: clamp(16px);
  margin: 0;
  text-align: left;
}

.modal_extra-inativar{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal_extra-inativar h3 {
  margin-bottom: 8px;
  font-size: 16px;
}

.modal_extra-inativar div {
  background-color: var(--cor-cinza-fraco);
  padding: 16px;
  border-radius: 5px;
  color: #3E4756;
}

/* ESCONDER DISPLAYS */

.esconder-botao {
  display: none;
}

.esconderModalExtra {
  display: none;
}

@keyframes modalAnimado {
  from{
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
