body {
  height: 100vh;
  
  background-image: url(/assets/biblioteca.png);
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: 50% 81.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(/assets/retangulo.svg);
  background-size: cover;
  position: absolute;
}

.container {
  width: 44.3rem;
  height: 44.6rem;
  padding-top: 5.6rem ;
  padding-bottom: 5.6rem;

  background-color: var(--cor-branca);
  border: 1px solid var(--cor-cinza);
  border-radius: 8px;
  margin: 0 10px;

  z-index: 10;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

/* 
Placeholder
 */

.formulario_label .span-senha, .span-email{
  position: absolute;
  font-size: 14px;
  color: var(--cor-cinza-medio-fraco);
  margin: 16px;
  cursor: text;
  transition: all 200ms ease;
}

.formulario_label .span-ativado{
  font-size: 1.2rem;
  margin: 0px 0.8rem;
}


.formulario_logo {
  width: 12rem;
  height: 4.8rem;
  margin-bottom: 5.6rem;
}

.formulario input {
  width: 353px;
  height: 51px;
  font-size: 14px;
  padding: 16px;
  padding-right: 35px;
  margin-bottom: 16px;
  
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--cor-cinza-medio-fraco);
  text-align: left;
  background-color: var(--cor-cinza);
}

.formulario input:focus {
  outline: 1px solid var(--cor-dourada);
  box-shadow: 0 0 5px var(--cor-dourada);
  background-color: var(--cor-branca);
}

.formulario_iconeEmail{
  position: absolute;
  right: 12.5%;
  bottom: 19.5rem;
}

.formulario_iconeSenha {
  position: absolute;
  right: 12.5%;
  bottom: 12.5rem;
}

.formulario_link {
  margin-bottom: 32px;
  width: 353px;
}

.formulario_link a {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
  color: var(--cor-preta);
}

.formulario_btnSubmit {
  width: 353px;
  height: 45px;
  
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cor-preta);

  border-radius: 4px;
  border: none;
  background-color: var(--cor-dourada);
  cursor: pointer;
  position: relative;
}

.formulario_btnSubmit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  transition: all .5s;
}

.formulario_btnSubmit:hover::before {
  background: rgba(0, 0, 0, .2);
  box-shadow: 0 0 10px var(--cor-dourada);
}

/* Responsivo */

@media screen and (max-width: 460px) {
  .formulario_iconeEmail,
  .formulario_iconeSenha {
    display: none; 
  }
}

@media screen and (max-width: 400px) {
  .formulario input , 
  .formulario_link,
  .formulario_btnSubmit {
    width:320px;
  }

  .formulario input {
    padding-right: 16px;
  }
}