body {
  background-color: var(--cor-cinza-fraco);
}

/* 
Navegacao 
*/

.navegar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 4rem;

  margin: 20rem auto;
}

.navegar_opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 250px;
  max-height: 224px;
  border-radius: 5px;
  background-color: var(--cor-cinza-fraco);
  cursor: pointer;
}

.navegar_opcoes figure {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.navegar_opcoes span {
  width: 244px;
  height: 71px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 3px;

  border-radius: 0px 0px 5px 5px;
  background-color: var(--cor-branca);
}

.navegar_opcoes a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--cor-cinza-forte);
}

.navegar_opcoes:hover {
  background-color: var(--cor-dourada);
  box-shadow: 0px 0px 15px var(--cor-cinza-fraco);
}

/* ----- RESPONSIVE ----- */

@media screen and (max-width: 1300px) {
  .container {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 920px) {
  .navegar{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    margin: 15rem auto;
  }
}

@media screen and (max-width: 630px) {
  .navegar{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10rem auto;
  }
}



