* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-branca:#FFFFFF;
  --cor-cinza: #F1F3F5;
  --cor-cinza-fraco: #F4F4F4;
  --cor-cinza-medio-fraco: #868E96;
  --cor-cinza-medio: #495057;
  --cor-cinza-forte: #343A40;
  --cor-preta: #000000;
  --cor-dourada:#FFC501;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/*
--------------------------------------
  CABEÇAHO -> HEADER -> USUARIO LOGOUT 
---------------------------------------
 */

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 36px;
  width: 100%;
  max-height: 96px;
  background-color: var(--cor-branca);
}

.cabecalho_logo img {
  width: 12rem;
  height: 4.8rem;
}

.cabecalho_logout {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cabecalho_logout img{
  height: 24px;
  width: 24px;
}

.cabecalho_logout p {
  margin-right: 4px;
  margin-left: 8px;
  color: var(--cor-cinza-medio);
  font-size: 18px;
  text-transform: capitalize;
}

.cabecalho_sair {
  text-align: center;
}

.cabecalho_sair a {
  font-size: 18px;
  display: inline-block;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  padding: 23.5px 120px 23.5px 28px;
  border-radius: 5px;
  color: var(--cor-cinza-forte);
  background-color: var(--cor-cinza-fraco);
}

.cabecalho_sair a:hover {
  color: var(--cor-dourada);
}

.js .cabecalho_sair {
  position: absolute;
  top: 76px;
  right: 25px;
  display: none;
}

/* 
---------------------------
      CONTAINER NAVEGARCAO 
---------------------------
*/

.container-navegacao {
  max-width: 1318px;
  margin: 24px auto;
 
  border-radius: 5px;
  background-color: var(--cor-branca);

  display: flex;
  justify-content: center;
  align-items: center;
}
