.transicao1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(10,10,20, .9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transicao1.esta-ativa {
  opacity: 1;
  pointer-events: all;
}

/* 
  TRANSICAO GRADIENT
*/

.transicao-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(45deg, #37ecba, #72afd3, #ebbba7, #cfc7f8 ); */
  
  background-image: linear-gradient(45deg, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  
  background-size: 300% 300%;
  animation: colors 3s ease ;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}