*{
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #3E4756;
  font-size: clamp(20px,24px,26px);
}

.janela-modal-emprestar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-emprestar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: white;
  padding: 40px;
  padding-top: 70px;
  max-width: 816px;
  border-radius: 5px;
  position: relative;
}

.modal-conteudo-emprestar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fecharAba-emprestar {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 6px;
  cursor: pointer;
}

/* 
 DADOS ALUNO
*/

.dados-aluno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  gap: 24px;
}

.botao {
  text-align: right;
}

button {
  height: 53px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ADB5BD;
  font-size: clamp(14px, 16px, 21px);
  font-weight: 600;
  background-color: var(--cor-branca);
  cursor: pointer;
}

.btn-emprestar {
  width: 272px;
  position: relative;
  padding-left: 3%;
  border: 1px solid #ADB5BD;
  background: #FFC501;
  position: relative;
}

.btn-emprestar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  transition: all .5s;
}

.btn-emprestar:hover::before {
  background: rgba(0, 0, 0, .2);
}

.btn-devolver {
  position: relative;
}

.btn-devolver::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  transition: all .5s;
}

.btn-devolver:hover::before {
  background: rgba(0, 0, 0, .2);
}

.icone_emprestar {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 21px;
  height: 22px;
}

.mostrarModal-emprestar {
  display: none;
}