body {
  background-color: var(--cor-cinza-fraco);
  max-height: 100vh;
}

/* 
CADASTRO LIVRO CONTENT 
*/

.cadastro-livro-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 
CONTAINER CADASTRO -> LIVROS
*/

.container-cadastro {
  display: flex;
 
  gap: 48px;
  position: relative;
  margin-top: 163px;
  margin-bottom: 165px;
}

/* 
INFORMACAO LIVRO
*/
.livro-capa {
  max-width: 17.2rem;
  padding-top: 0;
}

.livro-capa label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 92px;
  cursor: pointer;
  color:var(--cor-dourada) ;
  font-size: 20px;
  font-weight: 500;
  border: 2px dashed var(--cor-dourada);
  cursor: pointer;
}

#livro-imagem-capa {
  display: none;
}

.cadastro-novo-livro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 24px;
}

.informacao-livro:nth-child(3){
  grid-row: 2/4;
  display: block;
}

.informacao-livro:nth-child(5){
  grid-column: 2/3;
}

#livro-sinopse{
  height: 129px;
}

.informacao-livro:nth-child(5) {
  position: relative;
}

.livro-data_icone {
  position: absolute;
  bottom: 30%;
  left: 90%;
}

option {
  box-shadow: 0px 0px 15px #00000033;
  border-radius: 5px;
}

/* 
BOTOES
 */

 .botao {
  width: 14.3rem;
  height: 5.3rem;

  font-size: clamp(14px,16px,18px);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  color: var(--cor-preta);
  background-color: var(--cor-branca);

  border: 1px solid #133052;
  border-radius: 5px;

  cursor: pointer;
 }
 
 .btn-salvar {
  background-color: var(--cor-dourada);
  border: none;
}

.botoes-cadastro-livro {
  position: absolute;
  display: block;
  top: 75%;
  right: 0;
  display: flex;
  gap: 24px;
 }

/* 
Rsponsive
 */

 @media screen and (max-width: 1000px) {
    .cadastro-livro-content {
      display: flex;
    }

  .cadastro-novo-livro {
    display: flex;
    flex-direction: column;
  }

  .botoes-cadastro-livro {
    top: 82%;
    right: 0;
   }
}

@media screen and (max-width: 670px) {
  .container-cadastro {
    display: flex;
    flex-direction: column;
  }

  .botoes-cadastro-livro {
    top: 85%;
    right: 0;
   }

   .livro-capa {
    margin: 0 auto;
   }
}

@media screen and (max-width: 420px) {
  .campo {
    max-width: 280px;
  }
  
  .botoes-cadastro-livro {
    top: 86%;
    right: -15px;
   }
}
