/* 
CADASTRO LIVRO CONTENT 
*/

.cadastro-livro-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* 
CONTAINER CADASTRO -> LIVROS
*/

.container-cadastro {
  display: flex;
  gap: 48px;
  position: relative;
  margin-top: 163px;
  margin-bottom: 165px;
}

/* 
INFORMACAO LIVRO
*/

#livro-imagem-capa {
  display: none;
}

.livro-capa  {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* padding: 90px 48px; */
  cursor: pointer;
  width: 172px;
  height: 206px;
  
  color:var(--cor-dourada) ;
  font-size: 20px;
  font-weight: 500;

  border: 2px dashed currentColor;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.livro-capa:hover {
  background-color: var(--cor-cinza);
}

.livro-capa:active {
  border-color: rgb(75, 255, 84);
  box-shadow: 0px 10px 15px rgba(0, 0, 12, 0.3);
}

.imagem-escolhida {
  max-width: 100%;
  box-shadow: 8px 10px 15px rgba(0, 0, 12, 0.3);
  transition: box-shadow 300ms ease-in-out;
}

.imagem-escolhida:hover {
  box-shadow: 0px 0px 30px var(--cor-dourada);
} 

.esconder-imagem {
  display: none;
}

.cadastro-novo-livro {
  display: grid;
  grid-gap: 24px;
  grid-template-areas: 
  ' capa titulo autor'
  ' capa sinopse genero'
  ' capa sinopse dataentrada';

  max-width: 944px;
}

.informacao-livro:nth-child(1) {
  grid-area:capa;
  margin-right: 24px;
}

.informacao-livro:nth-child(2) {
  grid-area: titulo;
}

.informacao-livro:nth-child(3) {
  grid-area: autor;
}

.informacao-livro:nth-child(4) {
  grid-area: sinopse;
}

.informacao-livro:nth-child(5) {
  grid-area: genero;
}

.informacao-livro:nth-child(6) {
  grid-area: dataentrada;
  position: relative;
}

#livro-sinopse{
  height: 129px;
}

.livro-data_icone {
  position: absolute;
  bottom: 30%;
  left: 90%;
}

option {
  box-shadow: 0px 0px 15px #00000033;
  border-radius: 5px;
}

/* 
BOTOES
 */

 .botao {
  width: 14.3rem;
  height: 5.3rem;

  font-size: clamp(14px,16px,18px);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  color: var(--cor-preta);
  background-color: var(--cor-branca);

  border: 1px solid #133052;
  border-radius: 5px;

  cursor: pointer;
 }
 
 .btn-salvar {
  background-color: var(--cor-dourada);
  border: none;
}

.botoes-cadastro-livro {
  position: absolute;
  display: block;
  top: 75%;
  right: 0;
  display: flex;
  gap: 24px;
 }

/* 
Rsponsive
 */

 @media screen and (max-width: 1000px) {
  .cadastro-novo-livro {
    display: flex;
    flex-direction: column;
  }

  .botoes-cadastro-livro {
    top: 85%;
    right: 0;
   }
}

@media screen and (max-width: 670px) {
  .livro-capa {
  margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .campo {
    max-width: 280px;
  }
  
  .botoes-cadastro-livro {
    top: 86%;
    right: -15px;
    }
}
